.stu-dashboad{
    background-color:#000000;
    color: white;
   text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
    min-height: 60vh;
    h2{
        font-style: 20px;
        color: #33CD32;
    }
    .dashboard{
        flex-wrap: wrap;
        justify-content: center;
         display: flex;
         gap: 30px;
         margin-top: 50px;
         @media(max-width: 700px){
            justify-content: space-around;
            gap: 20px;
         }
    }
}