.home{
    background-color: black;
    color: white;
    padding: 100px 0;
    text-align: center;
    .home-content{
        max-width: 800px;
        margin: 0 auto;
        h1{
            font-size:36px;
            margin-bottom: 20px;
            @media(max-width:768px){
            font-size: 28px;
        }
        }
        
        p{
            font-size: 26px;
            margin-bottom: 40px;
            @media(max-width:768px){
            font-size: 22px;
        }
        }
        
    }
}