.course-description{
    background-color: black;
    color: white;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    min-height: 55vh;
    @media(max-width:768px){
        padding: 50px 25px;
    }
    .course-header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 40px;
        .course-image{
            width: 200px;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
        }

        .info{
            text-align: center;
            h2{
                font-size: 28px;
            }
            p{
                margin: 5px 0;
                text-align: left;
                font-size: 14px;
            }
        }
        
    }
    p{
            font-size: 16px;
            text-align: center;
            max-width: 800px;
            margin-bottom: 5px;
           
    }
    .btn{
        position: relative;
        left: 50%;
        top: 20px;
        translate: -50%;
    }
    .border{
         border: 2px solid #028341;
         padding: 40px 30px;
         border-radius: 10px;
         box-shadow: 2px 4px 18px #03FF00;
    }
}