footer{
    background-color:  #081C04;
    padding: 30px 0;
    text-align: center;
    bottom: 0;
    color: white;
    .footer-content{
        max-width: 1200px;
        margin: 0 auto;

        p{
            margin: 0px;
            font-size: 17px;
            @media(max-width:768px){
                font-size: 14px;
            }

        }

        a{
            text-decoration: none;
            color: #03FF00;
        }
        .social-link{
            margin: 10px;
            a{
                color: white;
                font-size: 27px;
                 @media(max-width:768px){
                font-size: 25px;
            }
                text-decoration: none;
                margin: 0 10px;
                transition: color 0.5s ease;

                &:hover{
                    color: #3BB371;
                }
            }
        }
    }
}