.lecture-page{
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
    @media(max-width:768px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 70%;
        padding: 10px;
        align-items: center;
        @media(max-width:768px){
        width: 90%;
    }
    }
    .right{
        width: 30%;
        .lecture-form{
            padding: 30px;
            border-radius: 10px;
             box-shadow: 0px 4px 28px rgb(59, 179, 113);
             text-align: center;
             width: auto;
             h2{
                font-size: 24px;
                color: #33CD32;
                margin-bottom: 15px;
             }
             .v1{
                display: flex;
                justify-content: center;
                margin-top: 20px;
             }
             form{
                color: white;
                text-align: left;
                margin-bottom: 10px;
                label{
                    display: block;
                    margin-bottom: 5px;
                    font-size: 14px;
                    margin-top: 10px;
                }
                input{
                    width: 92%;
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                }
             }
        }
        @media(max-width:768px){
            width: 80%;
            margin-bottom: 10%;
        }
        .lecture-number{
            background-color: #238b21;
            padding: 10px;
            border: 1px solid black;
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #33CD32;
            }
        }
        .active{
                background-color: #33CD32;
            }
    }
}