body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial,sans-serif;
  background-color: #000000;
  color: white;
}
.common-btn{
  background-color:#028341;
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size:18px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 500;
  &:hover{
    background-color: #154511;
  }
  @media(max-width:768px){
      font-size: 16px;
  }
}