.profile{
    background-color: black;
    min-height: calc(100vh - 250px);
    @media (max-width:769px) {
         min-height: calc(100vh - 300px);
    }
    /* min-height: 100vh; */
    padding: 20px ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    .bor{
      
        
        border-radius: 10px;
        box-shadow: 0px 5px 16px #028341;
        padding: 20px 30px;
        border: 2px solid #028341;
        width: 45% ;
        padding-bottom:60px;
        @media (max-width:768px) {
            width: 90%;
            margin: 90px auto;
        }
    }
    .profile-info{
        position: relative;
        text-align: left;
        margin-top: 15px;
        .logout{
            background-color: #FF2E2E;
            transition: background-color 0.5s ease;
            &:hover{
                background-color: #710000;
            }
        }
        .common-btn{
            display: flex;
            align-items: center;
            gap: 2px;
            margin-top: 30px;
            position: relative;
            top: 30px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    p{
        margin-bottom: 10px;
    }
}