.course-study-page{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    h2{
        font-size:24px;
        text-align: center;
        color: #33CD32;
    }
    h4{
        font-size:21px;
        text-align: center;
        
    }
    h5{
        font-size:20px;
        text-align: center;
       
    }
    a{
        text-decoration: none;
        cursor: pointer;
        background-color: #181818;
        padding: 0px 20px;
        border-radius: 10px;
    }
}