.Testimonials{
    padding: 80px 10px;
    @media(max-width:768px){
        padding: 80px 0;
    }

    text-align: center;
    h2{
        font-size: 32px;
    }
    .testimonial-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 100px;
        .testimonial-card{
            background-color: #111111;
            box-shadow: 0px 4px 8px rgb(59, 179, 113);
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            text-align: center;
            flex-direction: column;
            align-items: center;

            @media(max-width:768px) {
                width: 80%;
                text-align: center;
            }
            .student-image{
                img{
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }

            }
            .message{
                font-size: 16px;
                margin-bottom: 10px;
            }
            .info{
                text-align: center;

            }
            .name{
                font-size: 18px;
                font-weight: bold;
                color:rgb(59, 179, 113);
                margin-bottom: 5px;
            }
            .position{
                font-size: 16px;
            }
        }
    }
}