.payment-success{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

    .sucess-message{
        border: 2px solid #0FBC7A;
        box-shadow: 2px 3px 4px #33CD32;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        width: 300px;
        padding-bottom: 70px;
    }
    h2{
        font-size: 24px;
        margin-bottom: 15px;
    }
    p{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .p1{
        font-size: 18px;
        margin-bottom: 15px;
    }
    @media(max-width:768px){
       .common-btn{
        position: relative;
        top: 0px;
    }
    }
    .common-btn{
       
        position: relative;
        top: 10px;
    }
    a{
        text-decoration: none;
    }
}