.about{
    background-color: black;
    padding: 80px 0;
    text-align: center;
    color: white;
    min-height: 55vh;
    @media(max-width:768px){
         padding: 40px 30px;
        text-align: left;
        .about-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .about-content{
        max-width: 800px;
        margin: 0 auto;
        
        h2{
           margin-bottom: 20px;
           font-size: 34px;
        }
        .p1{
            font-size: 16px;
            line-height: 1.6;
        }
        @media(max-width:768px){
           h2{
             margin-bottom: 0;
             font-size: 28px;
           }
        }
    }
    }
