.c{
     background-color: black;
     color: white;
    padding: 40px 0;
    text-align: center;
    h2{
        font-size: 32px;
    }
    min-height: 70vh;
}
.course-container{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 40px;
    flex-direction: row;
    justify-content: center;
    @media(max-width:768px){
        padding: 20px 0px;
        justify-content: center;
        margin-top: 0px;
    }
    
}